<h1>Links#show</h1>
<p>Find me in app/views/links/show.html.erb</p>


<%= @link.user.username %>
<%= @link.title %>
<%= @link.url %>
<% @link.comments.each do |comment| %>

  <%= comment.body  %>
  <%= button_to "Remove Comment", comment_url(comment.id), method: :delete %>
<% end %>

<form class="" action="/comments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Comment
  <input type="text" name="comment[body]" value="">
  </label>

  <input type="hidden" name="comment[link_id]" value="<%= @link.id %>">

  <input type="submit" value="Add Comment">
</form>

<%= link_to "Add Comment", new_comment_url %>

<%= link_to "Edit Link", edit_link_url %>
